In [2]:
import os
from pyspark.sql import SparkSession

os.environ["SPARK_HOME"] = "/usr/local/bin/spark-3.5.1-bin-hadoop3"

In [3]:
spark_session = SparkSession.builder.appName("Data Handler").getOrCreate()

input_file_path = "/Users/fernandoferreira/Code/pyspark-course/data/"

24/07/29 23:14:08 WARN Utils: Your hostname, Fernandos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
24/07/29 23:14:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/29 23:14:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
empresa_database = f"{input_file_path}/empresas"

empresas = spark_session.read.csv(empresa_database, sep=';', inferSchema=True)

In [5]:
empresas.count()

4585679

In [6]:
empresas.columns

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6']

24/07/29 23:14:20 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [7]:
empresas.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6
0,403,ALUPE REPRESENTACOES LTDA,2240,49,"0,00",1,None
1,2498,JCA COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",5,None
2,4599,ROSA MARIA DE PAIVA MENEZES,2135,50,"0,00",5,None
3,13090,ADELINA ZANETI PARDINI,2135,50,"0,00",1,None
4,16903,PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICA...,2224,43,"0,00",5,None

In [8]:
empresas_column_name = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

for index, column_name in enumerate(empresas_column_name):
    empresas = empresas.withColumnRenamed(f"_c{index}", column_name)

In [9]:
empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [10]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,403,ALUPE REPRESENTACOES LTDA,2240,49,"0,00",1,None
1,2498,JCA COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",5,None
2,4599,ROSA MARIA DE PAIVA MENEZES,2135,50,"0,00",5,None
3,13090,ADELINA ZANETI PARDINI,2135,50,"0,00",1,None
4,16903,PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICA...,2224,43,"0,00",5,None

In [12]:
estabelecimento_column_names = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']

estabelecimentos_database = f"{input_file_path}/estabelecimentos"

estabelecimentos = spark_session.read.csv(estabelecimentos_database, sep=';', inferSchema=True)

estabelecimentos.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '_c19',
 '_c20',
 '_c21',
 '_c22',
 '_c23',
 '_c24',
 '_c25',
 '_c26',
 '_c27',
 '_c28',
 '_c29']

In [13]:
for index, column_name in enumerate(estabelecimento_column_names):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", column_name)

estabelecimentos.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [14]:
estabelecimentos.limit(5).toPandas()

24/07/29 23:22:17 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,1879,1,96,1,PIRAMIDE M. C.,8,20011029,1,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
1,2818,1,43,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
2,3110,1,7,1,None,8,19971231,1,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
3,3733,1,80,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
4,4628,3,27,2,EMBROIDERY & GIFT,8,19980429,1,None,NaN,...,7075,None,None,None,None,NaN,None,None,None,NaN

In [16]:
socios_column_names = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

socios_database = f"{input_file_path}/socios"

socios = spark_session.read.csv(socios_database, sep=';', inferSchema=True)

socios.columns

['_c0', '_c1', '_c2', '_c3', '_c4', '_c5', '_c6', '_c7', '_c8', '_c9', '_c10']

In [17]:
for index, column_name in enumerate(socios_column_names):
    socios = socios.withColumnRenamed(f"_c{index}", column_name)

socios.columns

NameError: name 'socios_column_name' is not defined