In [1]:
# Set the Spark environment variables
import os
# Import PySpark
from pyspark.sql import SparkSession

os.environ["SPARK_HOME"] = "/usr/local/bin/spark-3.5.1-bin-hadoop3"

# Create a new session for spark and says to it to use all processor available to process in parallel
# spark_session = SparkSession.builder.master('local[*]').getOrCreate()
spark_session = SparkSession.builder.appName("Alura-PySpark-Course-Class-Two-Loading-Data").getOrCreate()

24/07/08 08:49:26 WARN Utils: Your hostname, Fernandos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
24/07/08 08:49:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/08 08:49:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Create Data Frame using PySpark API
data = [('Mary', 28), ('John', 29)]
column_names = ['Name', 'Age']

df = spark_session.createDataFrame(data, column_names)

In [3]:
# Show data frame structure
df

DataFrame[Name: string, Age: bigint]

In [4]:
# Show data frame content using pyspark default method
df.show()

+----+---+
|Name|Age|
+----+---+
|Mary| 28|
|John| 29|
+----+---+

24/07/08 08:49:40 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [6]:
# Show data frame content emulating pandas. It uses pandas lib behind the scenes, so we need to install pandas.
df.toPandas()

   Name  Age
0  Mary   28
1  John   29