In [1]:
import os
from pyspark.sql import SparkSession

os.environ["SPARK_HOME"] = "/usr/local/bin/spark-3.5.1-bin-hadoop3"

In [3]:
spark_session = SparkSession.builder.appName("Data Handler").getOrCreate()

input_file_path = "/Users/fernandoferreira/Code/pyspark-course/data/"

24/07/29 00:01:51 WARN Utils: Your hostname, Fernandos-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.3 instead (on interface en0)
24/07/29 00:01:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/29 00:01:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/29 00:02:07 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
empresa_database = f"{input_file_path}/empresas"

empresas = spark_session.read.csv(empresa_database, sep=';', inferSchema=True)

In [5]:
empresas.count()

4585679

In [6]:
empresas.columns

['_c0', '_c1']

In [10]:
empresas.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6
0,403,ALUPE REPRESENTACOES LTDA,2240,49,"0,00",1,None
1,2498,JCA COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",5,None
2,4599,ROSA MARIA DE PAIVA MENEZES,2135,50,"0,00",5,None
3,13090,ADELINA ZANETI PARDINI,2135,50,"0,00",1,None
4,16903,PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICA...,2224,43,"0,00",5,None

In [11]:
empresas_column_name = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

for index, column_name in enumerate(empresas_column_name):
    empresas = empresas.withColumnRenamed(f"_c{index}", column_name)

In [12]:
empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']