In [13]:
import os
from pyspark.sql import SparkSession

In [14]:
spark_session = SparkSession.builder.appName("Data Frames").getOrCreate()

In [15]:
# First Example. It is valid
# Pass a list of tuples as first argument. It is an interable
data = [('Zeca','35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']

df = spark_session.createDataFrame(data, colNames)

df.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29

In [16]:
# Second Example. It is valid
# Give a list of dictionaries. Each dict has two properties. Nome e idade. Because of dictionaries keys, we do not need to pass column names
data = [{'Nome': 'Zeca', 'Idade': '35'}, {'Nome': 'Eva', 'Idade': '29'}]
df = spark_session.createDataFrame(data)
df.toPandas()

  Idade  Nome
0    35  Zeca
1    29   Eva

In [17]:
# Third Example. It is valid
# Give a list of dictionaries, but we create firstly a data frame from Pandas and after that we create data frama from PySpark
import pandas as pd

data = [{'Nome': 'Zeca', 'Idade': '35'}, {'Nome': 'Eva', 'Idade': '29'}]
pandas_df = pd.DataFrame(data)
df = spark_session.createDataFrame(pandas_df)
df.toPandas()

   Nome Idade
0  Zeca    35
1   Eva    29

In [18]:
# Fourth Example. It is valid
# It is an invalid example. Given a dictionary as parameter. It is not iterable.

data = [{'Nome': ['Zeca', 'Eva'], 'Idade': ['35', '29']}]
df = spark_session.createDataFrame(data)
df

DataFrame[Idade: array<string>, Nome: array<string>]